h2 {
    text-align: center;
    color: rgb(88, 88, 88);
}

h3 {
    text-align: center;
    color: #444;
}

b {
    color: rgb(0, 1, 80);
}

h4 {
    text-align: left;
    /* color: rgb(38, 0, 143); */
    height: 5%;
    /* width: 20%; */
    margin-left: 40%;
}

.full-width-table {
    width: 100%;
}

.app-table {
    width: 20%;
    margin: 20px auto;
}

table {
    width: auto;
    margin: auto;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serifà
}

th {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
}

select {
    width: 20%;
    align-items: center;
}

pagination-controls {
    text-align: center;
}

table .btn {
    margin: 2px;
}

div.dati {
    text-align: left;
}