<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

            <li class="nav-item active">
                <a class="nav-link" routerLink=''>
                    <button [ngClass]="buttonHome.customCssClass">
                <mat-icon> {{buttonHome.icon}} </mat-icon> {{buttonHome.text}}
              </button>
                    <span class="sr-only">(current)</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/users">
                    <button [ngClass]="buttonUser.customCssClass">
                <mat-icon> {{buttonUser.icon}} </mat-icon> {{buttonUser.text}}
              </button>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/vehicles">
                    <button [ngClass]="buttonVehicle.customCssClass">
                <mat-icon> {{buttonVehicle.icon}} </mat-icon> {{buttonVehicle.text}}
              </button>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/reservations">
                    <button [ngClass]="buttonReservation.customCssClass">
                <mat-icon> {{buttonReservation.icon}} </mat-icon> {{buttonReservation.text}}
              </button>
                </a>
            </li>

        </ul>