<h2> Adding Reservations Page</h2>
<section class="container">
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption font-red-sunglo">
                <i class="oi oi-pencil"></i>
                <span class="caption-subject bold uppercase"><b> Dati Prenotazione </b> </span>
            </div>
        </div>
        <br><br>
        <div class="portlet-body form">
            <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                <div class="form-group" class="was-validated">

                    <!-- <div class="form-group ">
                        <label for="reservationsList.utente.id"><b>ID Utente:</b></label>
                        <input name="id" type="text" [(ngModel)]="reservationsList.utente.id" class="form-control" placeholder="ID utente" />
                        <span style="color:rgb(2, 0, 134) "></span>
                    </div> -->

                    <div class="form-group">
                        <label for="dataInizio"><b>Data Inizio Prenotazione:</b></label>
                        <input name="dataInizio" type="date" [(ngModel)]="reservationsList.dataInizio" class="form-control" required />
                    </div>

                    <div class="form-group">
                        <label for="dataFine"><b>Data Fine Prenotazione:</b></label>
                        <input name="dataFine" type="date" [(ngModel)]="reservationsList.dataFine" class="form-control" required />
                    </div>

                    <div class="form-group">
                        <label for="targa"><b>Targa Veicolo:</b></label>
                        <select name="targa" class="form-control" [(ngModel)]="reservationsList.targaVeicolo" required>
                            <option value="" disabled selected></option>
                            <option value="" disabled selected>Selezionare il modello dell'auto</option>
                            <option *ngFor="let veicolo of vehicle">{{veicolo.targa}}</option>
                        </select>
                    </div>

                    <h4>Basic native select</h4>

                    <hr class="line-form">
                    <button type="submit" id="btnAdd" class="btn btn-primary form-buttons" [disabled]="f.invalid">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i> Salva
                    </button>
                    <button id="btnAbort" class="btn btn-warning form-buttons" (click)="abort()">
                        <i class="fa fa-sign-out" aria-hidden="true"></i> Annulla
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>