label {
  display: block;
  font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
  margin: .4rem 0;
}
/* Original Solution found on Stackoverflow here:
http://stackoverflow.com/questions/26573346/ios-safari-messes-up-input-type-date
*/

input[type="date"]
{
    display:block;

    /* Solution 1 */
     -webkit-appearance: textfield;
    -moz-appearance: textfield;
    min-height: 1.2em;

    /* Solution 2 */
    /* min-width: 96%; */
}
