<h2> Editing Vehicle Page</h2>
<section class="container">
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption font-red-sunglo">
                <i class="oi oi-pencil"></i>
                <span class="caption-subject bold uppercase"><b>DATI VEICOLO</b></span>
            </div>
        </div>
        <br><br>

        <div class="portlet-body form">
            <form (ngSubmit)="artForm.valid && salva()" #artForm="ngForm">
                <div class="form-group" class="was-validated">

                    <div class="form-group col-md-2">
                        <label for="id">ID Prenotazione:</label>
                        <input name="id" type="text" [(ngModel)]="reservationsList.id" class="form-control" placeholder="ID Prenotazione" #id="ngModel" />
                        <span style="color:rgb(7, 0, 112)" *ngIf="id.dirty && id.invalid">
                        </span>
                    </div>

                    <div class="form-group col-md-4 ">
                        <label for="dataInizio">Data Inizio Prenotazione:</label>
                        <input name="dataInizio" [(ngModel)]="reservationsList.dataInizio" type="date" class="form-control" required #dataInizio="ngModel" />
                        <span style="color:red " *ngIf="dataInizio.dirty && dataInizio.invalid ">
                        </span>
                    </div>

                    <div class="form-group col-md-4 ">
                        <label for="dataFine">Data Inizio Prenotazione:</label>
                        <input name="dataFine" [(ngModel)]="reservationsList.dataFine" type="date" class="form-control" required #dataFine="ngModel" />
                        <span style="color:red " *ngIf="dataFine.dirty && dataFine.invalid ">
                        </span>
                    </div>

                </div>
                <button type="submit" id="btnAdd " class="btn btn-primary form-buttons" [disabled]="artForm.invalid">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i> Salva
                </button>

                <button id="btnAbort " class="btn btn-warning form-buttons " (click)="abort() ">
                    <i class="fa fa-sign-out " aria-hidden="true "></i> Annulla
                </button>
            </form>
        </div>
    </div>
</section>
<br><br><br><br>