<script>
    $(document).ready(function() {

        $('.input').focus(function() {
            $(this).parent().find(".label-txt").addClass('label-active');
        });

        $(".input").focusout(function() {
            if ($(this).val() == '') {
                $(this).parent().find(".label-txt").removeClass('label-active');
            };
        });

    });
</script>

<h2>Adding Vehicles Page</h2>
<form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <label>
        <p class="label-txt">Anno Immatricolazione</p>
        <input type="date" class="input" [(ngModel)]="vehiclesList.annoImmatricolazione" place="annoImmatricolazione">
        <div class="line-box">
            <div class="line"></div>
        </div>
    </label>

    <label>
        <p class="label-txt">Casa Costruttrice</p>
        <input type="text" class="input" [(ngModel)]="vehiclesList.casaCostruttrice" name="casaCostruttrice">
        <div class="line-box">
            <div class="line"></div>
        </div>
    </label>

    <label>
        <p class="label-txt">Modello</p>
        <input type="text" class="input" [(ngModel)]="vehiclesList.modello" name="modello">
        <div class="line-box">
            <div class="line"></div>
        </div>
    </label>

    <label>
        <p class="label-txt">Targa</p>
        <input type="text" class="input" [(ngModel)]="vehiclesList.targa" name="targa">
        <div class="line-box">
            <div class="line"></div>
        </div>
    </label>
    <button type="submit" class="btn btn-primary">Salva</button>
</form>