<h2> Adding Vehicle Page</h2>
<section class="container">
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption font-red-sunglo">
                <i class="oi oi-pencil"></i>
                <span class="caption-subject bold uppercase"><b>Dati Veicolo</b></span>
            </div>
        </div>
        <br><br>
        <!-- Inizio del form di inserimento dati-->
        <div class="portlet-body form">
            <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                <!-- <form (ngSubmit)="artForm.valid && salva() " #artForm="ngForm "> -->

                <div class="form-group" class="was-validated">

                    <!-- <div class="form-group ">
                        <label for="id ">ID Utente:</label>
                        <input name="id " type="text " [(ngModel)]="vehiclesList.id " class="form-control " placeholder="ID utente" />
                        <span style="color:rgb(2, 0, 134) "></span>
                    </div> -->

                    <div class="form-group ">
                        <label for="casaCostruttrice"><b>Casa Costruttrice Veicolo:</b></label>
                        <input name="casaCostruttrice" type="text" [(ngModel)]="vehiclesList.casaCostruttrice" class="form-control" placeholder="Casa costruttrice veicolo " required minlength="5 " maxlength="30 " />
                        <span style="color:rgb(145, 0, 0)">
                        </span>
                    </div>

                    <div class="form-group">
                        <label for="annoImmatricolazione"><b>Anno Immatricolazione Veicolo:</b></label>
                        <input name="annoImmatricolazione" type="date" [(ngModel)]="vehiclesList.annoImmatricolazione" class="form-control" placeholder="Anno Immatricolazione veicolo" required/>
                        <span style="color:rgb(145, 0, 0)">
                        </span>
                    </div>

                    <div class="form-group">
                        <label for="modello"><b>Modello Veicolo:</b></label>
                        <input name="modello " type="text" [(ngModel)]="vehiclesList.modello " class="form-control " placeholder="Modello veicolo" required minlength="5" maxlength="30" />
                    </div>

                    <div class="form-group">
                        <label for="targa"><b>Targa Veicolo:</b></label>
                        <input name="targa " type="text" [(ngModel)]="vehiclesList.targa " class="form-control " placeholder="Targa veicolo" required minlength="5" maxlength="30" />
                        <span style="color:rgb(145, 0, 0)">
                        </span>
                    </div>

                    <!-- Servirà per la tipologia di veicolo -->
                    <!-- <div class="form-group ">
                <label for="role ">Role</label>
                <select name="um " class="form-control " [(ngModel)]="vehiclesList.role ">
              <option value="Super ">Super</option>
              <option value="Customer ">User</option>
            </select>
            </div> -->

                    <hr class="line-form">

                    <button type="submit " id="btnAdd " class="btn btn-primary form-buttons" [disabled]="f.invalid ">
            <i class="fa fa-floppy-o " aria-hidden="true" (click)="onSubmit(f)"></i> Salva
          </button>
                    <button id="btnAbort" class="btn btn-warning form-buttons" (click)="abort()">
            <i class="fa fa-sign-out" aria-hidden="true "></i> Annulla
          </button>
                </div>
            </form>
        </div>
    </div>
</section>