<script>
    $(document).ready(function() {

        $('.input').focus(function() {
            $(this).parent().find(".label-txt").addClass('label-active');
        });

        $(".input").focusout(function() {
            if ($(this).val() == '') {
                $(this).parent().find(".label-txt").removeClass('label-active');
            };
        });

    });
</script>

<h1> Editing Vehicle Page </h1>
<form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <label>
        <p class="label-txt">Anno Immatricolazione</p>
        <input type="date" class="input" [(ngModel)]="vehiclesList.annoImmatricolazione">
        <div class="line-box">
            <div class="line"></div>
        </div>
    </label>

    <label>
        <p class="label-txt">Casa Costruttrice</p>
        <input type="text" class="input" [(ngModel)]="vehiclesList.casaCostruttrice" placeholder="{{vehiclesList.casaCostruttrice}}">
        <div class="line-box">
            <div class="line"></div>
        </div>
    </label>

    <label>
        <p class="label-txt">Modello</p>
        <input type="text" class="input" [(ngModel)]="vehiclesList.modello" placeholder="{{vehiclesList.modello}}">
        <div class="line-box">
            <div class="line"></div>
        </div>
    </label>

    <label>
        <p class="label-txt">Targa</p>
        <input type="text" class="input" [(ngModel)]="vehiclesList.targa" placeholder="{{vehiclesList.targa}}">
        <div class="line-box">
            <div class="line"></div>
        </div>
    </label>

    <button type="submit" class="btn btn-primary">Aggiorna</button>
</form>
